@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.loader-wrapper {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    inset: 0;
    z-index: 1000;
    background-color: #00000009;
    backdrop-filter: blur(20px);
    transition: all 0.3s ease;
    @include flex(row, center, center);

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side, $purple 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,$purple);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation: l13 1s infinite linear;
  }
  @keyframes l13{ 
    100%{transform: rotate(1turn)}
  }