
@keyframes animate-appear {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animate-decor-line {
    from {
        transform: scale(0, 1);
    }
    to {
        transform: scale(1, 1);
    }
}