<footer class="footer">
    <div class="container type-small">
        <div class="content">
            <div class="top-part">
                <a href="index.html" class="footer__logo">
                    <img src="icons/logo.svg" alt="logo">
                </a>
                <nav class="nav">
                    <ul class="list type2-tabs">
                        <li>
                            <button data-tab="home" class="btn type2-tab text type-tab">Home</button>
                        </li>
                        <li>
                            <button data-tab="about-us" class="btn type2-tab text type-tab">About us</button>
                        </li>
                        <li>
                            <button data-tab="services" class="btn type2-tab text type-tab">Services</button>
                        </li>
                        <li>
                            <button data-error="show" class="btn type2-tab text type-tab">Terms of Use</button>
                        </li>
                    </ul>
                </nav>
                <div class="socials">
                    <ul class="list type-socials">
                        <li>
                            <a href="#" class="link type-socials">
                                <img src="icons/facebook.svg" class="facebook" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link type-socials type2">
                                <img src="icons/linkedin.svg" class="linkedin" alt="linkedin">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="link type-socials">
                                <img src="icons/instagram.svg" class="instagram" alt="instagram">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bottom-part">
                <h4 class="title type-xs">Contact us</h4>
                <a href="mailto:support@markify.com" class="text type-default">support@markify.com</a>
            </div>
        </div>
    </div>
</footer>