<header class="header">
    <div class="container type-default">
        <div class="content">
            <div class="top-part">
                <div class="left-part">
                    <a href="index.html" class="header__logo">
                        <img src="icons/logo.svg" alt="logo">
                    </a>
                </div>
                <div class="right-part">
                    <div class="btn-wrapper">
                        <button data-error="show" class="btn type-default">Sign Up</button>
                    </div>
                </div>
            </div>
            <div class="bottom-part">
                <nav class="nav">
                    <ul class="list type-tabs">
                        <li>
                            <button data-tab="home" class="btn type1-tab text type-tab active">Home</button>
                        </li>
                        <li>
                            <button data-tab="about-us" class="btn type1-tab text type-tab">About Us</button>
                        </li>
                        <li>
                            <button data-tab="services" class="btn type1-tab text type-tab">Services</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>